WSDL/Phylotastic_Name_Extraction.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://phylo.cs.nmsu.edu:5004/phylotastic_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://phylo.cs.nmsu.edu:5004/phylotastic_ws">
    <!-- TYPES -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://phylo.cs.nmsu.edu:5004/phylotastic_ws">
            <!-- Request data structure -->
            <s:element name="GetNames_GNRD_GET_Request">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="url" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <!-- Response data structure -->
            <s:element name="GetNames_GNRD_GET_Response">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="status_code" type="s:integer"/>
                        <s:element minOccurs="1" maxOccurs="1" name="total_names" type="s:integer"/>
                        <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="input_url" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="meta_data" type="tns:res_meta_data"/>
                        <s:element minOccurs="1" maxOccurs="1" name="gnrd_parameters" type="tns:res_gnrd_param"/>
                        <s:element minOccurs="1" maxOccurs="1" name="scientificNames" type="s:valuelist"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            
            <!-- Data Structure for complex object in Response -->
            <s:complexType name="res_meta_data">
                <s:sequence>
                    <s:element name="execution_time" type="s:double"/>
                    <s:element name="creation_time" type="s:string"/>
                    <s:element name="source_urls" type="s:string"/>
                </s:sequence>
            </s:complexType>

            <s:complexType name="res_gnrd_param">
                <s:sequence>
                    <s:element name="engine" type="s:integer"/>
                    <s:element name="best_match_only" type="s:boolean"/>
					<s:element name="data_source_ids" type="s:intlist"/>                    
					<s:element name="detect_language" type="s:boolean"/>
					<s:element name="preferred_data_sources" type="s:intlist"/>
					<s:element name="all_data_sources" type="s:boolean"/>
					<s:element name="return_content" type="s:boolean"/>					
                </s:sequence>
            </s:complexType>

            
			<s:simpleType name="valuelist">
                <s:list itemType="s:string"/>
            </s:simpleType>

            <s:simpleType name="intlist">
                <s:list itemType="s:integer"/>
            </s:simpleType>

            <s:element name="double" type="s:double"/>
        </s:schema>
    </wsdl:types>
    
    <!-- MESSAGE -->
    <wsdl:message name="phylotastic_GetScientificNames_GNRD_GET_HttpGetIn">
       <wsdl:part name="taxa" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="phylotastic_GetScientificNames_GNRD_GET_HttpGetOut">
        <wsdl:part name="status_code" type="s:string"/>
        <wsdl:part name="message" type="s:string"/>
        <wsdl:part name="input_url" type="s:string"/>
        <wsdl:part name="meta_data" type="tns:res_meta_data"/>
        <wsdl:part name="gnrd_parameters" type="tns:res_gnrd_param"/>
		<wsdl:part name="scientificNames" type="s:valuelist"/>
		<wsdl:part name="total_names" type="s:integer"/>
    </wsdl:message>

    
    <!-- PORT TYPE -->
    <wsdl:portType name="phylotastic_GetScientificNames_GNRD_GET_HttpGet">
        <wsdl:operation name="phylotastic_GetScientificNames_GNRD_GET">
            <wsdl:input message="tns:phylotastic_GetScientificNames_GNRD_GET_HttpGetIn"/>
            <wsdl:output message="tns:phylotastic_GetScientificNames_GNRD_GET_HttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>

	<!--
    <wsdl:portType name="phylotastic_GetScientificNames_GNRD_GET_HttpPost_V1">
        <wsdl:operation name="phylotastic_GetScientificNames_GNRD_POST">
            <wsdl:input message="tns:phylotastic_GetScientificNames_GNRD_GET_HttpGetIn"/>
            <wsdl:output message="tns:phylotastic_GetScientificNames_GNRD_GET_HttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    -->

	<!-- BINDING -->
    <wsdl:binding name="phylotastic_GetScientificNames_GNRD_GET_HttpGet" type="tns:phylotastic_GetScientificNames_GNRD_GET_HttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="phylotastic_GetScientificNames_GNRD_GET">
            <http:operation location="/fn/names_url"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

	<!--
    <wsdl:binding name="phylotastic_GetScientificNames_GNRD_GET_HttpPost_V1" type="tns:phylotastic_GetScientificNames_GNRD_GET_HttpPost_V1">
        <http:binding verb="POST"/>
        <wsdl:operation name="phylotastic_GetScientificNames_GNRD_POST">
            <http:operation location="/gt/ot/get_tree"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/json"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	-->
    
    <!-- SERVICE -->
    <wsdl:service name="phylotastic_GetScientificNames_GNRD">
        <wsdl:port name="phylotastic_GetScientificNames_GNRD_GET_HttpGet" binding="tns:phylotastic_GetScientificNames_GNRD_GET_HttpGet">
            <http:address location="http://phylo.cs.nmsu.edu:5004/phylotastic_ws"/>
        </wsdl:port>
		<!-- 
        <wsdl:port name="phylotastic_GetScientificNames_GNRD_GET_HttpPost_V1" binding="tns:phylotastic_GetScientificNames_GNRD_GET_HttpPost_V1">
            <http:address location="http://phylo.cs.nmsu.edu:5004/phylotastic_ws"/>
        </wsdl:port>
		-->
    </wsdl:service>
</wsdl:definitions>
