WSDL/try.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.webserviceX.NET/">
    <!-- TYPES -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
            <s:element name="ConvertSpeed">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="speed" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="FromUnit" type="tns:SpeedUnit"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ToUnit" type="tns:SpeedUnit"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:simpleType name="SpeedUnit">
                <s:restriction base="s:string">
                    <s:enumeration value="centimetersPersecond"/>
                    <s:enumeration value="metersPersecond"/>
                    <s:enumeration value="feetPersecond"/>
                    <s:enumeration value="feetPerminute"/>
                    <s:enumeration value="milesPerhour"/>
                    <s:enumeration value="kilometersPerhour"/>
                    <s:enumeration value="furlongsPermin"/>
                    <s:enumeration value="knots"/>
                    <s:enumeration value="leaguesPerday"/>
                    <s:enumeration value="Mach"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="ConvertSpeedResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ConvertSpeedResult" type="s:double"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="double" type="s:double"/>
        </s:schema>
    </wsdl:types>
    
    <!-- MESSAGE -->
    <wsdl:message name="ConvertSpeedHttpGetIn">
        <wsdl:part name="speed" type="s:string"/>
        <wsdl:part name="FromUnit" type="s:string"/>
        <wsdl:part name="ToUnit" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="ConvertSpeedHttpGetOut">
        <wsdl:part name="Body" element="tns:double"/>
    </wsdl:message>

    <wsdl:message name="ConvertSpeedHttpPostIn">
        <wsdl:part name="speed" type="s:string"/>
        <wsdl:part name="FromUnit" type="s:string"/>
        <wsdl:part name="ToUnit" type="s:string"/>
    </wsdl:message>

    <wsdl:message name="ConvertSpeedHttpPostOut">
        <wsdl:part name="Body" element="tns:double"/>
    </wsdl:message>
    
    <!-- PORT TYPE -->
    <wsdl:portType name="ConvertSpeedsHttpGet">
        <wsdl:operation name="ConvertSpeed_Get">
            <wsdl:input message="tns:ConvertSpeedHttpGetIn"/>
            <wsdl:output message="tns:ConvertSpeedHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ConvertSpeedsHttpPost">
        <wsdl:operation name="ConvertSpeed_Post">
            <wsdl:input message="tns:ConvertSpeedHttpPostIn"/>
            <wsdl:output message="tns:ConvertSpeedHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- BINDING -->
    <wsdl:binding name="ConvertSpeedsHttpGet" type="tns:ConvertSpeedsHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="ConvertSpeed_Get">
            <http:operation location="/ConvertSpeed"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ConvertSpeedsHttpPost" type="tns:ConvertSpeedsHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="ConvertSpeed_Post">
            <http:operation location="/ConvertSpeed"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- SERVICE -->
    <wsdl:service name="ConvertSpeeds">
        <wsdl:port name="ConvertSpeedsHttpGet" binding="tns:ConvertSpeedsHttpGet">
            <http:address location="http://www.webservicex.net/ConvertSpeed.asmx"/>
        </wsdl:port>
        <wsdl:port name="ConvertSpeedsHttpPost" binding="tns:ConvertSpeedsHttpPost">
            <http:address location="http://www.webservicex.net/ConvertSpeed.asmx"/>
        </wsdl:port>     
    </wsdl:service>
</wsdl:definitions>